{% extends "template.html" %}
{% block content %}
<div id="maincontainer">
	<h1> Pick an Irish City </h1>
  <div class="feature f4">
    <div class="overlay"><a href="../dublin">Dublin</a></div>
  </div>
  
  <div class="feature f5">
    <div class="overlay"><a href="../galway">Galway</div>
  </div>
  
  <div class="feature f6">
    <div class="overlay"><a href="../cork">Cork</a></div>
  </div>
  
  <div class="feature f7">
    <div class="overlay"><a href="../belfast">Belfast</a></div>
  </div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<p class="marg"> For Project Documentation Please Click <a href="documentation">Here</a></p>
	
  
{% endblock %}