{% extends "template.html" %}
{% block content %}
<div id="maincontainer">
	<h2>Project Documentation</h2>
	
	<p class="marg"> For full description and the documentation of this project which includes a comprehensive review and analysis of the citisent program
	please click the following links below to download the file in the required format
	<br>
	
	<a href="static/img/twitter_report.docx"><img style="float:left" src="static/img/word_logo.png" alt="Word logo" space="2" vspace="10" ></a>
	<a href="static/img/twitter_report.pdf"><img style="float:right" src="static/img/pdf-icon-trans.png" alt="Word logo" space="2" vspace="10" ></a>
	

	
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	
<br>

{% endblock %}


