{% extends "template.html" %}
{% block content %}


  

<div id="maincontainer">


	<h1> Galway</h1>
	<p class="marg">Galway City is a thriving, bohemian, cultural city on the western coast of Ireland. Along with being a popular seaside 
	destination with beautiful beaches and long winding promenade, it also has a buzzing cosmopolitan city centre. The city is a joy to explore with 
	its labyrinthine cobbled streets, colourful shop facades and busy café/ bar culture.  The city is also well known for its many festivals throughout 
	the year with huge crowds gathering for the annual Galway Arts Festival, Races and numerous other events. Old Ireland is present too with turf fires 
	and traditional music featuring in many pubs to compliment your enjoyment of a well earned pint of Guinness. Take an evening stroll along the promenade
	and watch the sunset over Galway Bay or watch the salmon fishermen in the River Corrib from the perfect vantage point of the Salmon Weir Bridge. </p>

	
<center><img style="float:left margin-left: auto margin-right: auto;" src="static/img/galway.png" alt="Image of Galway" width=900px height=auto hspace="2" vspace="10" ></center>

	
	
	
  <div class="mainpagecontent" ><center>
    <img src="/static/img/badges/top_left.png" alt="Top 10 By Keyword" width=100%>
	{% for item in tweet %}
	<strong><a href="http://www.twitter.com/{{ item.user }}">{{ item.user }}</a></strong><br>{{ item.score }} </br>
		{% endfor %}
		</center>
		
		
		
  </div>
  
  <div class="mainpagecontent"><center>
  
  <img src="/static/img/badges/top_middle.png" alt="Top 10 By Keyword" width=100%>
	{% for item in tweets %}
	<strong><a href="http://www.twitter.com/{{ item.user }}">{{ item.user }}</a></strong><br>{{ item.score }} </br>
	{% endfor %}</center>
  
  </div>
  
  <div class="mainpagecontent">
  <center>
  <img src="/static/img/badges/top_right.png" alt="Top 10 By Keyword" width=100%>
	{% for item in atweets %}
	<strong><a href="http://www.twitter.com/{{ item.user }}">{{ item.user }}</a></strong><br>{{ item.score }} </br>
	{% endfor %}</center>
  
  </div>
  
  <div class="mainpagecontentwide">
  
 <img src="/static/img/badges/top_main.png" alt="Top 10 By Keyword" width=100%>
	{% for item in ctweets %}
	<strong><a href="http://www.twitter.com/{{ item.user }}">{{ item.user }}</a></strong><br>{{ item.tweet }} </br>
	{% endfor %}
	<br>
   <img src="/static/img/badges/negativ.png" alt="Top 10 By Keyword" width=100%>
	{% for item in btweets %}
	<strong><a href="http://www.twitter.com/{{ item.user }}">{{ item.user }}</a></strong><br>{{ item.tweet }} </br>
	{% endfor %}
	<br>
  </div>
  
    <div class="mainpagecontent">
  <center>
  <img src="/static/img/badges/total.png" alt="Total" width=100%>
	{% for item in dtweets %}
	 Of the total number of tweets collected about Galway <strong>{{ item.count }}</strong> were {{ item.sentiment }} </br></br>
	
		{% endfor %}
		
		
		<img src="{{ g }}" stl alt="Certificate" width=auto ></center>
  
  </div>
  
     <div class="mainpagecontent" style=text-align:justify;>
  
  <img src="/static/img/badges/prolific	.png" alt="Total" width=100%>
	{% for item in ftweets %}
	 There was one user who couldnt stop talking about Galway. User <strong>{{ item.user }}</strong> wasp the most prolific tweeter about Galway. They
sent messages containing the cities name <strong>{{ item.count }}</strong> times ! You can check out this person's  
<a href="http://www.twitter.com/{{ item.user }}">twitter page</a> to find out more. </br></br>
	{% endfor %}
	
	
	{% for item in ftweets %} 
	{%if item.count > 5 and item.count < 9 %}
	<img src="/static/img/badges/5.png" alt="Certificate" width=100% >
	{% elif item.count > 10 and item.count < 14 %}
	<img src="/static/img/badges/10.png" alt="Certificate" width=100% >
	{% elif item.count > 15 and item.count < 19 %}
	<img src="/static/img/badges/15.png" alt="Certificate" width=100% >
	{% elif item.count > 20 and item.count < 50 %}
	<img src="/static/img/badges/20.png" alt="Certificate" width=100% >

	{% endif %}
	{% endfor %}
	
  </div>
<div class="mainpagecontent">
  <img src="/static/img/badges/average.png" alt="Average" width=100%>
  <img src="/static/img/faces/{{ emotion }}.png" alt="Average Image" width=100%>
	

  </div>




	
	
  
{% endblock %}
	

